#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "version.h"
#include "version.rc"
#include "res.h"

IDI_MAIN ICON "main.ico"

1 24 "manifest.xml"

IDR_MENU MENU
BEGIN
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy\tCtrl-C",           IDM_EDIT_COPY
        MENUITEM SEPARATOR
        MENUITEM "&Flash Zoom Area\tCtrl-F", IDM_FLASH_BORDER
        MENUITEM SEPARATOR
        MENUITEM "&Refresh\tF5",            IDM_EDIT_REFRESH
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&Draw Gridlines\tSpace",  IDM_OPTIONS_GRIDLINES
        MENUITEM "&Options...",             IDM_OPTIONS_OPTIONS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",               IDM_HELP_ABOUT
    END
    MENUITEM "Turn &Refresh On!",           IDM_REFRESH_ONOFF
END

IDR_ACCEL ACCELERATORS
BEGIN
    VK_F5,                                  IDM_EDIT_REFRESH,       VIRTKEY
    "-",                                    IDM_ZOOM_OUT
    "+",                                    IDM_ZOOM_IN
    " ",                                    IDM_OPTIONS_GRIDLINES
    "^C",                                   IDM_EDIT_COPY
    "^F",                                   IDM_FLASH_BORDER
    "^T",                                   IDM_REFRESH_ONOFF
END

IDD_OPTIONS DIALOG 10, 10, 180, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "Segoe UI"
BEGIN
    CONTROL         "Enable Automatic &Refresh", IDC_ENABLE_REFRESH, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 8, 8, 164, 10

    LTEXT           "Refresh I&nterval (tenths of seconds):", -1, 8, 20, 136, 10
    EDITTEXT        IDC_REFRESH_INTERVAL, 148, 18, 24, 12, ES_AUTOHSCROLL

    CONTROL         "Enable M&inor Gridlines", IDC_ENABLE_MINORLINES, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 8, 36, 164, 10

    LTEXT           "Grid Minor R&esolution (pixels):", -1, 8, 48, 136, 10
    EDITTEXT        IDC_MINOR_RESOLUTION, 148, 46, 24, 12, ES_AUTOHSCROLL

    CONTROL         "Enable M&ajor Gridlines", IDC_ENABLE_MAJORLINES, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 8, 64, 164, 10

    LTEXT           "Grid Major Re&solution (pixels):", -1, 8, 76, 136, 10
    EDITTEXT        IDC_MAJOR_RESOLUTION, 148, 74, 24, 12, ES_AUTOHSCROLL

    PUSHBUTTON      "Choose Gridlines &Color", IDC_GRIDLINES_COLOR, 8, 92, 132, 14
    LTEXT           "", IDC_GRIDLINES_SAMPLE, 148, 97, 24, 4, SS_OWNERDRAW

    PUSHBUTTON      "Choose Drag &Target Color", IDC_RETICLE_COLOR, 8, 110, 132, 14
    LTEXT           "", IDC_RETICLE_SAMPLE, 148, 115, 24, 4, SS_OWNERDRAW

    PUSHBUTTON      "Choose Drag O&utline Color", IDC_OUTLINE_COLOR, 8, 128, 132, 14
    LTEXT           "", IDC_OUTLINE_SAMPLE, 148, 133, 24, 4, SS_OWNERDRAW

    LTEXT           "Drag Target O&pacity (percent):", -1, 8, 150, 136, 10
    EDITTEXT        IDC_RETICLE_OPACITY, 148, 148, 24, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON   "&OK", IDOK, 88, 170, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 132, 170, 40, 14
END

IDD_ABOUT DIALOG 10, 10, 180, 118
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "Segoe UI"
BEGIN
    ICON            IDI_MAIN, -1, 8, 8, 20, 20
    LTEXT           "", IDC_VERSION, 32, 12, 116, 10, SS_CENTER

    LTEXT           "", IDC_COPYRIGHT, 8, 44, 164, 10, SS_CENTER
    LTEXT           "Distributed under the MIT License.", -1, 8, 54, 164, 10, SS_CENTER
    PUSHBUTTON      "Visit the GitHub &repository", IDC_REPO, 36, 68, 108, 14

    DEFPUSHBUTTON   "&OK", IDOK, 70, 96, 40, 14
END

